input[name="q"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba (0, 0, 0, 0.1);
    width: 250px
}

.form {
  display: flex;
  align-items: center;
  font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end; /* this made it go to the right */
  text-align: right;
  font-size: 16px;
}

.nav ul {
  list-style: none;
  gap: 20px;
}

.nav li {
    display: inline-block;
    padding: 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav a:hover {
  text-decoration: underline;
  color: #333;
}