input[name="q"] {
    border-radius: 15px;
    font-size: 14px;
    margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: flex-end; /* this made it go to the right */
  text-align: right;
}

.nav ul {
  list-style: none;
  /*display: inline-block; blocked out and moved to li*/
  gap: 20px;
}

.nav li {
    display: inline-block;
}

.nav a {
  text-decoration: none;
  color: #333;
}