body {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
        
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.posts {
    margin-top: 20px;
}

.post {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.like-btn{
    border: none; 
    background: none;
}