{% extends "network/layout.html" %}

{% block body %}
    <div class="container mt-4">
        <h1>Keeping Up With My Network</h1>
        
        <div class="posts">
            {% for post in posts %}
                <div class="post mb-3 p-3 border">
                    <a href="/profile/{{ post.user.username }}"><h5>{{ post.user.username }}</h5></a>
                    <p>{{ post.content }}</p>
                    <span class="username text-muted">{{ post.created }}</span>
                    <span class="likes ml-3">
                            🤍 {{ post.like_count }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}